.img {
    width: 300px;
    img{
        width: 300px;
    }
}
.kart{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgb(246, 246, 246);
    padding-top: 10px;
    border-radius: 6px;
    color: rgb(130, 130, 130);
    
}

.ink{
    color: black;
    text-decoration: none;
    
}